body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    #a969c7,
    #afeeee
  ); /* Gradient background */
}

.converter {
  padding: 30px;
  background: linear-gradient(
    to bottom right,
    #dfe955,
    #afeeee
  ); /* Gradient background */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.results p {
  margin-top: 15px;
}
